{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="navbar-logo">
      <a class="navbar-brand" href="{% url 'index' %}" style="margin-left: 15px;">
      <img src="{% static 'images/FireSale.png' %}" width="30px" alt="Image of {{ item.name }}"/>FireSale</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <br></br>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create_item' %}">New Listing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{ user.profile.profile_image }}" class="profile_image" width="25px" alt="Image of someone"/>{{ user.profile.name }} 
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'profile' %}">My Account</a></li>
              <li><a class="dropdown-item" href="{% url 'inbox' %}">Inbox</a></li>
              <li><a class="dropdown-item" href="{% url 'listings' %}">My Listings</a></li>
              <li><a class="dropdown-item" href="{% url 'favorites' %}">Favorites</a></li>
            </ul>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>
