{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="navbar-logo">
      <a class="navbar-brand" href="{% url 'index' %}" style="margin-left: 15px;">
      <img src="{% static 'images/FireSale.png' %}" width="30px" alt="Image of {{ item.name }}"/>FireSale</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <br></br>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create_item' %}">New Listing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'listings' %}">My Listings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">My Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'inbox' %}">Inbox</a>
            </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="user_dropdown">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {% if user.profile.name %}
                    {{ user.profile.name }}
                  {% else %}
                    {{ user.username }}
                  {% endif %}
                  {% if user.profile.profile_image %}
                    <img src="{{ user.profile.profile_image }}" class="profile-image" width="25px" alt="{{ user.profile.name }}'s profile image"/>
                  {% else %}
                    <img src="{% static 'images/user.png' %}" class="profile-image" width="25px" alt="Profile image"/>
                  {% endif %}
                </a>
                <ul class="nav-item dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'profile' %}">My Account</a></li>
                  <li><a class="dropdown-item" href="{% url 'favorites' %}">Favorites</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
                </ul>
              </li>
            </ul>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
          </ul>
        {% endif %}
        </div>
    </div>
</nav>
