{% extends "base.html" %}

{% block content %}
<div class="pages">
    <title>Contact</title>

    <div class="footerBox p20" id="contact">
                 <h1 style="color: #784C92; margin-bottom: 20px;">Contact</h1>
                <p>
                    Phone: 123-4567<br />
                </p>
                <p>
                    Email: <a href="mailto:firesale@staff.inc">firesale@staff.inc</a>
                </p>
                <p>Find us on Facebook <a href="https://www.facebook.com/firesaleisaband">here</a></p><br />
    </div>
</div>
{% endblock %}