
{% extends "base.html" %}

{% block content %}
    <title>Frequently Asked Questions</title>
    <h1>FAQ</h1>
    <h3>How do I search for items on the website?</h3>
    <p> You can create a post by sign in to our website and then click "New listing".</p>
    <h3>How can I filter items by category?</h3>
    <p> You can filter items by category by clicking on the category you want to filter on the left side of the page.</p>
    <h3>How do I place a bid on an item?</h3>
    <p> You can place a bid on an item by clicking on the item you want to bid on and then click "Place an Offer".  If your bid is accepted by the owner, you will receive a notification.</p>
    <h3>How does the bidding process work?</h3>
    <p>When you place a bid on an item, the owner has to accept your bid for it to be considered valid. Once accepted, you will receive a message in your inbox with further instructions.</p>
    <h3>How do I proceed to checkout after my bid has been accepted?</h3>
    <p>If your bid has been accepted, you will receive a message in your inbox with a button "Continue to checkout". Click on the provided button to complete the checkout process for the item.</p>
    <h3>How can I rate a seller after completing a purchase?</h3>
    <p>After completing the checkout process, you will have the opportunity to rate the seller on a scale of 1 to 5. This rating reflects your experience with the seller, with 1 being the lowest and 5 being the highest rating.</p>
    <h3>How do I create a new listing for an item?</h3>
    <p>To create a new listing, click on the "New listing" option in the navigation bar. Fill out the relevant information about your item, such as its name, description, category, and starting price. Once completed, your item will be listed for auction.</p>
    <h3>How can I manage my listed items?</h3>
    <p>You can manage your listed items by clicking on "My listings" in the navigation bar. This page will display all the items you have listed for auction. From there, you can view bids placed on each item, accept or reject bids, and delete listings if desired.</p>
{% endblock %}
