



{% extends "base.html" %}

{% block content %}
<div class="pages">
    <title>Terms</title>
    <h1 style="color: #784C92; margin-bottom: 20px;">Terms</h1>
<p>
    Welcome to Firesale! We, Firesale Inc., appreciate your interest and hope you find our services valuable. By accessing or interacting with Firesale, including our servers, services, websites, or any associated content/postings, you agree to be bound by the following Terms of Use ("TOU") last updated on May 30, 2023. Please read them carefully.
</p>
<h4><small>Ownership and Agreement</small></h4>
<p><small>You acknowledge and agree that Firesale is a private site owned and operated by Firesale Inc. If you are accessing or using Firesale on behalf of a business, you represent and warrant to Firesale that you have the authority to accept the TOU on behalf of that business, and the business agrees to abide by the TOU.</small></p>
<h4><small>Consent and Usage</small></h4>
<p><small>By accessing Firesale or downloading the App, you consent to these TOU. If you do not agree to the TOU, you are not authorized to use Firesale or download the App. We may modify the TOU at any time at our sole discretion. It is your responsibility to periodically check for changes, and by continuing to use Firesale, you are bound by any modifications.</small></p>
<h4><small>Compliance and Eligibility</small></h4>
<p><small>When using Firesale, you agree to comply with all applicable laws, regulations, and these TOU. You must be of legal age and have the necessary authority to enter into this agreement. If you are accessing Firesale on behalf of a minor, you affirm that you are the parent or legal guardian and accept responsibility for their compliance with the TOU.</small></p>
<h4><small>Intellectual Property</small></h4>
<p><small>Firesale and all associated content, including but not limited to trademarks, logos, designs, and text, are the property of Firesale Inc. and protected by intellectual property laws. You may not use or distribute any Firesale content without our prior written consent.</small></p>
<h4><small>Disclaimer and Limitation of Liability</small></h4>
<p><small>While we strive to provide accurate and reliable information, Firesale is provided "as is" and without warranties of any kind. We do not guarantee the availability, accuracy, or completeness of the content. Your use of Firesale is at your own risk, and Firesale Inc. shall not be liable for any direct, indirect, incidental, consequential, or punitive damages arising out of your access or use of Firesale.</small></p>
<h4><small>Privacy</small></h4>
<p><small>We value your privacy and have implemented measures to protect your personal information. Please review our Privacy Policy to understand how we collect, use, and safeguard your data when you use Firesale.</small></p>
</div>
{% endblock %}