



{% extends "base.html" %}

{% block content %}
    <title>Terms</title>
    <h1>Terms</h1>
<p>
    We (Firesale Inc.) hope you find it useful.
    By accessing or otherwise interacting with our servers, services, websites, or any associated content/postings (collectively referred to as "Firesale"),
    you agree to these Terms of Use ("TOU") (last updated May 29, 2023).
    You acknowledge and agree that Firesale is a private site owned and operated by Firesale Inc.
    If you are accessing or using Firesale on behalf of a business, you represent and warrant to Firesale
    that you have the authority to accept the TOU on behalf of that business, and the business agrees to the TOU.
    If you do not agree to the TOU, you are not authorized to use Firesale or download the App.
    We may modify the TOU at any time in our sole discretion.
    You are responsible for periodically checking for changes and are bound by them if you continue to use Firesale.
</p>
{% endblock %}