.all_items{
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    max-width: 1000px;
    margin: 0 auto;
}

.single_item {
    flex-basis: calc(33.33% - 10px);
    padding: 20px;
    background-color: #F5F5F5;
    margin: 5px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.single_item.content{
    position: absolute;
}
.single_item .name{
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    color: #784C92;
    text-align: center;
}
.single_item .single_item_image {
    margin-bottom: 0.5em;
    border: 2px solid darkgrey;
    padding: 2px;
}
.single_item .description,
.single_item .condition{
    margin-bottom: 0.5em;
}
.single_item .price{
    font-size: 1.1em;
    font-weight: bold;
    color: green;
    margin-top:auto;
}