{% block content %}
    <div class="bid_display">
        <div class="bidder">Bidder: {{ bid.user }}</div>
        <div class="bid_amount">Bid Amount: ${{ bid.bid_amount }}</div>
    </div>
    <div class="accept_reject">
        <form class="accept_bid" action="{% url 'accept_bid' item.id bid.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" id="acceptBidButton">Accept</button>
        </form>
        <form class="reject_bid" action="{% url 'reject_bid' item.id bid.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" id="rejectBidButton">Reject</button>
        </form>
    </div>
{% endblock %}