{% load static %}
{% block content %}
<div class="single_bid_display">
  <div class="bid_display">
    {% if bid.user.profile.profile_image %}
      <img src="{{ bid.user.profile.profile_image }}" alt="Profile Image" width="80"/>
    {% else %}
      <img src="{% static 'images/user.png' %}" alt="Profile Image" width="80"/>
    {% endif %}
    <div class="bid_info">
      <div class="bidder">Bidder: {{ bid.user.profile.name|default:bid.user.username }}</div>
      <div class="bid_amount">Bid Amount: ${{ bid.bid_amount }}</div>
    </div>
  </div>
  <div class="accept_reject">
    {% if user.is_authenticated and user.id == item.user_id %}
    <form
      class="accept_bid"
      action="{% url 'accept_bid' item.id bid.id %}"
      method="post"
      style="display: inline"
    >
      {% csrf_token %}
      <button type="submit" id="acceptBidButton">Accept</button>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}
