<a class="single_item" href="{% url 'item_information' item.id %}">
    <div class="name"> {{item.name}} </div>

    <!-- TODO: Add location to item form -->
    <div class="item_content" id="single_item_image">
        {% for itemimage in itemimages %}
            {% if itemimage.item == item %}
                <div class="image_container">
                    <img src="{{ itemimage.img_url }}" width="200px" height="200px" alt="Image of {{ item.name }} "/>
                </div>

            {% endif %}
        {% endfor %}
    </div>

    {% if include_item_information %}
    <div class="item_information">Category: {{ item.category }}</div>
    <div class="item_information">Condition: {{ item.condition }}</div>
    <div class="item_information">Location: {{ item.location }}</div>
    {% endif %}

    <div class="item_content" id="price">Starting price: $
        {% if item.price is None %}
            0
        {% else %}
            {{ item.price }}
        {% endif %}
    </div>

</a>
