{% extends "base.html" %}
{% block content %}
<div class="pages">
    <h1 style="color: #784C92;">Create a New Listing</h1>
    <form class="form form-horizontal" action="{% url 'create_item' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="member" value="{{ request.user.id }}">
        <input type="submit" value="Create Item" class="btn btn-primary pull-right" style="clear:both; margin: 10px 0; background-color: #784C92; border-color: #784C92; "/>
    </form>
</div>

{% endblock %}