{% extends "base.html" %}

{% block content %}
    {% if not user.is_authenticated %}
    <div id="introduction">
        <h1>Welcome to FireSale!</h1>
        <p>Experience the thrill of auctions and discover unique items from fellow users.<br>
            Whether you're looking to sell your items or find something special, FireSale provides a platform for both auctioning and purchasing.<br>
            If you already have an account, <a href="{% url 'login' %}">log in</a> to continue your journey.<br>
            If not, join our community by registering today and start exploring the world of online auctions!</p>
    </div>
    {% endif %}

    <div class="input-group">
        <input type="search" class="form-control" id="search-box" placeholder="Enter your search here..."/>
        <div class="input-group-btn">
            <button type="button" id="search-btn" class="btn btn-default">Search</button>
        </div>
        <div class="sort-container">
            <form class="sort-form" action="{% url 'sort_items' %}" method="get">
                <label for="sort-select">Sort by:</label>
                <select id="sort-select" name="sort_option">
                    <option value="name_asc" {% if sort_option == 'name_asc' %}selected{% endif %}>Name A->Z </option>
                    <option value="name_desc" {% if sort_option == 'name_desc' %}selected{% endif %}>Name Z->A</option>
                    <option value="price_asc" {% if sort_option == 'price_asc' %}selected{% endif %}>Price: low->high</option>
                    <option value="price_desc" {% if sort_option == 'price_desc' %}selected{% endif %}>Price: high->low</option>
                    <!-- Add more sorting options if needed -->
                </select>
                <button type="submit" id="sort-btn" class="btn btn-primary">Sort</button>
            </form>
        </div>
    </div>
    <div class="home_page">

        <div class="category-buttons">
            Filter by category
            <a href="{% url 'filtered_categories' category_id='1' %}"{% if selected_category == '1' %} class="selected"{% endif %}><button class="category-button">Children</button></a>
            <a href="{% url 'filtered_categories' category_id='2' %}"{% if selected_category == '2' %} class="selected"{% endif %}><button class="category-button">Clothing</button></a>
            <a href="{% url 'filtered_categories' category_id='3' %}"{% if selected_category == '3' %} class="selected"{% endif %}><button class="category-button">Electronics</button></a>
            <a href="{% url 'filtered_categories' category_id='4' %}"{% if selected_category == '4' %} class="selected"{% endif %}><button class="category-button">Entertainment</button></a>
            <a href="{% url 'filtered_categories' category_id='5' %}"{% if selected_category == '5' %} class="selected"{% endif %}><button class="category-button">Housing</button></a>
            <a href="{% url 'filtered_categories' category_id='6' %}"{% if selected_category == '6' %} class="selected"{% endif %}><button class="category-button">Home</button></a>
            <a href="{% url 'filtered_categories' category_id='7' %}"{% if selected_category == '7' %} class="selected"{% endif %}><button class="category-button">Industry</button></a>
            <a href="{% url 'filtered_categories' category_id='8' %}"{% if selected_category == '8' %} class="selected"{% endif %}><button class="category-button">Jobs</button></a>
            <a href="{% url 'filtered_categories' category_id='9' %}"{% if selected_category == '9' %} class="selected"{% endif %}><button class="category-button">Pets</button></a>
            <a href="{% url 'filtered_categories' category_id='10' %}"{% if selected_category == '10' %} class="selected"{% endif %}><button class="category-button">Spare Parts</button></a>
            <a href="{% url 'filtered_categories' category_id='11' %}"{% if selected_category == '11' %} class="selected"{% endif %}><button class="category-button">Sports and Health</button></a>
            <a href="{% url 'filtered_categories' category_id='12' %}"{% if selected_category == '12' %} class="selected"{% endif %}><button class="category-button">Vehicle</button></a>
        </div>

        <div class="all_items">
            {% for item in items %}
                {% include "items/__single_item.html" with item=item itemimages=itemimages %}
            {% endfor %}
        </div>

    </div>
{% endblock %}