{% extends "base.html" %}
{% block content %}
    <div class="item_info_bids">
        <div id="item_display">
            {% include "items/__single_item.html" with item=item itemimages=itemimages %}
        </div>
        <h2 id="bids_header" style="text-align: center;"> All pending offers placed on {{ item.name }}:</h2>
        <div class="item_bids" >
            {% for bid in bids %}
                {% if bid.status == 'pending' %}
                    {% include "items/__single_bid.html" with item=item bid=bid %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}