{% extends "base.html" %}
{% block content %}
    <div class="item_info_bids">
        <div class="single_item">
            <div id="item_display">
                {% include "items/__single_item.html" with item=item itemimages=itemimages %}
                {{ item.description }}
            </div>
        </div>
        <div class="item_bids">
            {% for bid in bids %}
                {% include "items/__single_bid.html" with item=item bid=bid %}
            {% endfor %}
        </div>
    </div>
{% endblock %}