{% extends "base.html" %}
{% block content %}
    <div class="single_item_page">
           <div id="item_display">
            {% include "items/__single_item.html" with item=item itemimages=itemimages %}
            <div class="item_description">{{ item.description }}</div>
        </div>
        <div class="offer_buttons">
            <form class="bid_form" action="{% url 'create_bid' item.id %}" method="post">
                {% csrf_token %}
                <button type="submit" id="bidButton">Place an Offer</button>
            </form>
            {% if user.is_authenticated and user.id == item.user_id %}
                <form class="delete_form" action="{% url 'delete_item' item.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" id="deleteButton">Delete item</button>
                </form>
            {% else %}
                  {% if item.user %}
             <div class="Seller">
                <p class="About">The seller</p>
                <div class="seller_info">
                    <!--<img src="{{ item.user.member.image.img_url }}" class="profile_image" width="30px" height="30px" alt="Profile Image">-->
                    <p>{{ item.user }}</p>
                </div>
            </div>
        {% else %}
            <p class="Seller">Seller information not available.</p>
        {% endif %}

            {% endif %}
        </div>
        <div class="item_bids">
            <form class="view_bid_form" action="{% url 'view_bids' item.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" id="viewBidsButton">View Bids</button>
            </form>
        </div>
        <p class ="highest_bid" >Highest Offer: ${{ highest_bid }}</p>
        <!--<p>Highest Bid: ${{ highest_bid }}</p> -->

        <div class="similar_items">
            <h3>Similar Items</h3>
        </div>

         <div class="similar_items" >
            {% for similar_item in similar_items %}
                <div class="similar_item" >

                    <!-- Display similar item details (e.g., name, image, etc.) -->
                    <a href="{% url 'item_information' similar_item.id %}">
                    <div class="name"> {{similar_item.name}} </div>
                        {% for similar_itemimage in itemimages %}
                              {% if similar_itemimage.item == similar_item %}
                                <div class="image_container">
                                    <img src="{{ similar_itemimage.img_url }}" width="200px" height="200px" alt="Image of {{ similar_item.name }}">
                                </div>
                            {% endif %}
                        {% endfor %}


                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

