{% extends "base.html" %}
{% block content %}
    <div class="payment_info">
        <h1 style="color: #784C92;">Please fill out your payment info</h1>
        <div class="step-indicator">
            <div class="step-item active">
              <div class="step-number">1</div>
              <div class="step-label">Contact</div>
            </div>
            <div class="step-item active">
              <div class="step-number">2</div>
              <div class="step-label">Payment</div>
            </div>
            <div class="step-item">
              <div class="step-number">3</div>
              <div class="step-label">Rating</div>
            </div>
            <div class="step-item">
              <div class="step-number">4</div>
              <div class="step-label">Review</div>
            </div>
          </div>
        <form class="form form-horizontal" action="{% url 'payment_info' message.id bid.id contact.id %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <label class="control-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <ul class="errorlist">
                                {% for error in field.errors %}
                                    <li class="error-msg">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                
                    </div>
                {% endfor %}
                <a href="{% url 'contact_info' message.id bid.id 1 %}" class="btn btn-primary pull-right" style="clear:both; margin: 10px 0; background-color:rgb(175, 175, 175); border-color: gray; color:white;">Back</a>

                <!--<input type="submit" value="Back" class="btn btn-primary pull-right" style="clear:both; margin: 10px 0; background-color:rgb(175, 175, 175); border-color: gray; color:white;"/>-->
                <input id="button_enter" type="submit" value="Next" class="btn btn-primary pull-right" style="clear:both; margin: 10px 0; background-color:  #784C92; border-color: #784C92 ; color:white;"/>
            </form>
    </div>
{% endblock %}
