{% extends "base.html" %}
{% block content %}
<div class="rating_seller">
    <h1 style="color: #784C92;">Thank you for your order!</h1>
    <h2>Feel free to review the seller :) </h2>
      <p>Seller Information:</p>
        <p>Seller: {{ order.seller.username }}</p>
        <form class="form form-horizontal" action="{% url 'rating_seller' bid.id contact.id payment.id order.id %}" method="post">
          {% csrf_token %}
          <label for="rating">Rate the Seller:</label>
          <select name="rating" id="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <br>
          <input type="submit" value="Rate Seller" class="btn btn-primary pull-right" style="clear:both; margin: 10px 0"/>
        </form>
</div>
{% endblock %}