{% block content %}
    <div class="received_message">
        <div class="from"> From: {{ message.sender.username }}</div>
        <div class="message"> Message: {{ message.message }}</div>
        {% if bid.status == 'accepted' %}
            <a class="checkout_cont" href="{% url 'contact_info' bid.id %}">
                <button type="submit" class="btn btn-primary" style="clear:both; margin: 10px 0; background-color: #784C92; border-color: #784C92; ">Continue to Checkout</button>
            </a>
            <form class="delete_form" action="{% url 'delete_offer' bid.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" id="rejectBidButton">Cancel offer</button>
            </form>
        {% endif %}
{% endblock %}