{% extends "base.html" %}

{% block content %}
<div class="pages">
    <h1 style="color: #784C92;">Favorites</h1>
    {% if favorite_items %}
         <div class="listings_page">
            <div id="item_display">
                {% for favorite in favorite_items %}
                    {% with item=favorite.item %}
                        {% if item.status == 'available' %}
                            {% include "items/__single_item.html" with item=item itemimages=itemimages %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>No items favorited.</p>
    {% endif %}
</div>
{% endblock %}

