{% extends "base.html" %}
{% block content %}
<div class="inbox">
    <h1 style="color: #784C92;">Inbox</h1>
    {% if messages %}
        {% for message in messages %}
            {% for bid in bids %}
                {% if bid == message.bid %}
                    {% include "user/__single_message.html" with message=message bid=bid %}
                {% endif %}
            {% endfor %}
            {% if message.sender == 'admin' %}
                {% include "user/__single_message.html" with message=message %}
            {% endif %}
        {% endfor %}
    {% else %}
        <p>You have no messages yet.</p>
    {% endif %}
</div>
{% endblock %}