{% extends "base.html" %}
{% block content %}
<div class="pages">
    <h1 style="color: #784C92;">My Listings</h1>
        {% if items %}
        <div class="listings_page">
                {% if available_items %}
                    <div class="available_items">
                    <h3 style="color: #784C92; text-decoration: underline;">Available Listings</h3>
                    <div id="item_display">
                        {% for item in available_items %}
                                {% include "items/__single_item.html" with item=item itemimages=itemimages %}
                        {% endfor %}
                    </div>
                    </div>
                {% endif %}
                {% if sold_items %}
                    <div class="previous_items">
                    <h3 style="color: #784C92; text-decoration: underline;">Previous Listings</h3>
                    <div id="item_display">
                        {% for item in sold_items %}  
                                {% include "items/__single_item.html" with item=item itemimages=itemimages %}
                        {% endfor %}
                    </div>
                    </div>
                {% endif %}
                {% else %}
                    <p>You have no listings.</p>
                {% endif %}
        </div>
</div>

{% endblock %}