{% extends "base.html" %}

{% block content %}
<div class="inbox">
    <h1 style="color: #784C92;">My Orders</h1>
    <div class="orders_page">
        <div id="item_display">
            {% if ordered_items %}
                {% for order in ordered_items %}
                    {% with item=order.item %}
                        {% include "items/__single_item.html" with item=item itemimages=itemimages %}
                    {% endwith %}
                {% endfor %}
            {% else %}
                <p>No orders yet.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
