{% extends "base.html" %}
{% block content %}
<div class="profile">
    <h1 style="color: #784C92;">My Profile</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form class="form form-horizontal" method="post">
        {% csrf_token %}
        {{ form }}
        <input id="button_enter" type="submit" class="btn btn-primary" value="Update" style="margin-top: 15px;background-color: #784C92; border-color: #784C92;"/>
    </form>
</div>
{% endblock %}