{% extends "base.html" %}
{% block content %}
<div class="pages">
    <h1 style="color: #784C92;">Reviews</h1>
    <div class="reviews">
        {% if reviews %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>From</th>
                        <th>Item bought</th>
                        <th>Rating</th>
                        <th>Comment</th>
                        <th>Submitted</th>
                    </tr>
                </thead>
                <tbody>
                    {% for review in reviews %}
                        {% if review.rating == -1 %}
                        {% else %}
                            {% include "user/__single_review.html" with review=review %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No reviews yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}