<div class="item">
    <div class="name">{{ item.name }}</div>
    <div class="category">{{ item.category }}</div>
    <div class="condition">{{ item.condition }}</div>
    <div class="description">{{ item.description }}</div>
    <div class="location">{{ item.location }}</div>
    <div class="price">{{ item.price }}</div>
    <div class="image">
        {% for itemimage in itemimages %}
            {% if itemimage.item == item %}
                <img src="{{ itemimage.img_url }}" />
            {% endif %}
        {% endfor %}
    </div>
</div>